# Inputs, Outputs, and, Assignments

### Output Statements

- Each print statement will display on a separate line.
- A bare print will print a blank line.

In [3]:
print('====John====')
print(1+4)
print('====MGMT 504- S2====')

====John====
5
====MGMT 504- S2====

In [5]:
print()

- Multiple outputs should be separated with commas.

In [7]:
print(1,2,3,"Hello")

1 2 3 Hello

In [9]:
print(1,2,3,"Hello",7)

1 2 3 Hello 7

In [11]:
print(2, 4)
print("The answer of 1+4 is ",1+4)

2 4
The answer of 1+4 is  5

In [17]:
print(3 4)  # Syntax error

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1551471917.py, line 1)

In [23]:
print("The answer is"  3+4)  # Syntax error

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3604058577.py, line 1)

In [25]:
print(f"The answer is {3+4}")

The answer is 7

### Assignment

In [33]:
x = 5
x

5

In [31]:
x

5

- Variables can be reassigned many times

In [35]:
x = 5
x

5

In [39]:
x+1

6

In [41]:
x

5

In [43]:
x=x+5
x

10

In [45]:
x=10
x

10

In [ ]:
x=x+1
x

In [ ]:
x

In [ ]:
x = x + 1
x

In [ ]:
x

In [ ]:
y

- You cannot try to use a variable without a value assigned to it.

In [49]:
y=0

In [51]:
y

0

In [53]:
print(z) # Syntax error

NameError: name 'z' is not defined

### User Input

In [57]:
x = input("Enter your favorite number between 0 and 9: ")
x

Enter your favorite number between 0 and 9:  9

'9'

In [67]:
x = int(input("Enter your favorite number between 0 and 9: "))
x+10

Enter your favorite number between 0 and 9:  6

16

In [71]:
x = float(input("Enter your favorite number between 0 and 9: "))
x+10

Enter your favorite number between 0 and 9:  6.5

16.5

In [73]:
x = eval(input("Enter your favorite number between 0 and 9: "))
x+10

Enter your favorite number between 0 and 9:  6

16

In [ ]:
num_str=num_str+5 # Syntax error
num_str

In [ ]:
num_str = eval(input("Enter your favorite number between 0 and 9: "))
num_str

In [ ]:
num_str=num_str+5 # Syntax error
num_str

### Python's eval() allows you to evaluate arbitrary Python expressions from a string-based or compiled-code-based input. This function can be handy when you're trying to dynamically evaluate Python expressions from any input that comes as a string or a compiled code object.

In [ ]:
num = eval(num_str)
num

In [ ]:
num + 3

In [ ]:
num + 3

- Equivalent to the following statements:

In [ ]:
num = eval(input("Enter your favorite number between 0 and 9: "))
num

In [ ]:
num+2

- Some programmers suggest that [using 'eval' is a bad practice](https://stackoverflow.com/questions/1832940/why-is-using-eval-a-bad-practice) in Python programming because it can be dangerous and insecure sometimes.
- To overcome this issue, we may change the code to the following:

In [ ]:
num = float(input("Enter your favorite number between 0 and 9: "))
num

In [ ]:
num+19

In [ ]:
x=100
x

### Simultaneous Assignment

- Several values can be assigned at the same time in Python.
- They are matched by position.

In [77]:
x=5
y=6
print(x,y)

5 6

In [79]:
x,y=5,6
print(x,y)

5 6

#### how to swap (values) of two variables

In [82]:
x,y=5,6
x,y=y,x
print(x,y)

6 5

### if you have three var a,b,c=1,2,3. Using S.A, swap a and c?

In [87]:
a,b,c=1,2,3
print(a,b,c)
a,b,c=c,b,a
print(a,b,c)

1 2 3
3 2 1

In [ ]:
a,b = 6 ,7

In [ ]:
print(a, b)

In [ ]:
a,b,c=1,2,3
#swap a and c

In [ ]:

print("Before : ", a, c)
a, c = c, a
print("After :", a, c)

In [ ]:
print(a,b,c)

In [ ]:
s, d = a+b, a-b

In [ ]:
print(s, d)

- Swap the values of two variables (the wrong way):

In [ ]:
a = 1
b = 2
print(a, b)
a = b
b = a
print(a, b)

- Swap the values of two variables by introducing a temporary variable:

In [89]:
a = 1
b = 2
print(a, b)
temp = a
a = b
b = temp
print(a, b)

1 2
2 1

- Swap the values of two variables by simultaneous assignment:

In [ ]:
a = 1
b = 2
print(a, b)
a, b = b, a
print(a, b)

- Swap the values of three variables by simultaneous assignment:

In [ ]:
a = 1
b = 2
c = 3
print(a, b, c)
a, b, c = c, a, b
print(a, b, c)

- Simultaneous assignment can be used to get multiple inputs from the user:
 - Quarter: 25 cents
 - Dime: 10 cents
 - Nickel: 5 cents
 - Penny: one cent

In [91]:
q, d, n, p = eval(input('Enter the numbers of quarters, dimes, nickels, and pennies: '))
print('Your total is', 25*q + 10*d + 5*n + p, 'cents')

Enter the numbers of quarters, dimes, nickels, and pennies:  1,2,3,4

Your total is 64 cents

- If you want to avoid using `eval`, you can change the code to the following:

In [ ]:
q = int(input('Enter the number of quarters: '))
d = int(input('Enter the number of dimes: '))
n = int(input('Enter the number of nickels: '))
p = int(input('Enter the number of pennies: '))
print('Your total is', 25*q + 10*d + 5*n + p, 'cents')

In [ ]:
q = float(input('Enter the number of quarters: '))
d = float(input('Enter the number of dimes: '))
n = float(input('Enter the number of nickels: '))
p = float(input('Enter the number of pennies: '))
print('Your total is', 25*q + 10*d + 5*n + p, 'cents')