# Numbers

### How to know the type of variable in Python?

### Integer and Floating-Point Numbers

- There are two basic numeric data types in Python: 
    - `int`: Integer numbers such as `âˆ’5`, `0`, and `3`. Each of these is a whole number and does not have a decimal point.
    - `float`: Floating-point numbers such as `0.25`, `0.0`, `3.`, and `-.5`. Each of these numbers has a decimal point.

In [7]:
type(-1.)  # This function tells the data type

float

In [9]:
type(100)

int

In [11]:
type(0.0)

float

In [13]:
type(3)

int

In [15]:
type(0.25)

float

In [ ]:
type(0)

In [12]:
type(3.0)

float

In [14]:
x = -5
type(x)

int

### Why Two Numeric Data Types?

- `int` numbers can represent counts of real-world objects.
- Most mathematical operations are more efficient when dealing with `int` numbers.
- The `int` data type is an accurate representation of a whole number, while the `float` data type stores only an approximation of the real number being represented. Python cannot differentiate `0.1` and `0.10000000000000001`.

In [17]:
0.1==0.10000000000001

False

In [19]:
0.1==0.10000000000000000000001

True

In [24]:
len('0.10000000000000001')

19

In [ ]:
0.100000000000000001

In [21]:
2==3 # duble equal means a logic qestion

False

In [23]:
2==2

True

In [ ]:
0.10000000000000001 == 0.1

- In general, operations on `int` numbers produce `int` numbers, operations on `float` numbers produce `float` numbers, operations on both `int` and `float` numbers produce `float` numbers.

In [29]:
type(1 + 2)

int

In [31]:
type(1.0 + 2.0)

float

In [33]:
type(1.0 * 2)

float

- However, the division operator `/` always returns a `float`.

In [35]:
7 / 3

2.3333333333333335

In [38]:
9/3

3.0

In [40]:
type(9/3)

float

In [ ]:
type(8/4)

In [ ]:
len('2.3333333333333335')

In [ ]:
7.0 / 3.0  # There is a 5 at the end. This is the closest value Python can get to represent the result.

- We can use the `format()` function to returns the formatted string that is rounded to certain decimal places.

In [44]:
x = 23.45941
y = format(x, '.2f')  # Round x to two digits after the decimal point.
y

'23.46'

In [ ]:
x  # format() does not change the original number.

In [ ]:
y

### Other Operators

In [46]:
16 / 3

5.333333333333333

In [48]:
16 // 3  # Floor division. Returns the whole number only

5

In [50]:
16.0 // 3.0

5.0

In [60]:
5 % 2  # Modulus. Returns the remainder (5 = 2 * 2 + 1)

1

In [52]:
19 % 2 # 19=2*9+1

1

In [54]:
2.0 ** 3  # Exponentiation 2 to the power of 3

8.0

In [56]:
4**2

16

In [68]:
2 * 2 ** 3  # Equivalent to 2 * (2 ** 3)

16

In [58]:
abs(-3.5)  # Absolute value

3.5

- Python `int` and `float` numbers also support the following operators:

In [60]:
x=1
x=x+2
x

3

In [62]:
x = 1
x += 2  # Equivalent to x = x + 2
x

3

In [64]:
x = 5
x -=2.0  # Equivalent to x = x - 2.0
x

3.0

In [66]:
x = 5
x -=2.0  # Equivalent to x = x - 2.0
x

3.0

In [68]:
x = 3
x *= 2  # Equaivalent to x = x * 2
x

6

In [70]:
x = 7
x /= 3  # Equaivalent to x = x / 3
x

2.3333333333333335

In [72]:
x = 5
x %= 3.0  # Equivalent to x = x % 3
x

2.0

### Type Conversion

In [74]:
type(5//2)

int

In [84]:
type(float(5//2))

float

In [86]:
int(3.9)  # Cut off the fractional parts

3

In [76]:
round(3.3)

3

In [78]:
round(3.5)

4

In [80]:
round(3.4)

3

In [82]:
round(9.8)

10

In [84]:
ceil(3.4)

NameError: name 'ceil' is not defined

In [90]:
from math import *
ceil(3.9)

4

In [94]:
floor(3.9)

3

 ### Percentage

In [96]:
x = 64% #invalid syntax

SyntaxError: invalid syntax (2699737228.py, line 1)

In [102]:
x = 0.64

In [104]:
 "{:.1%}".format(x)

'64.0%'

In [ ]:
y = "{:.5%}".format(x)
y

In [ ]:
print(y)

In [ ]:
type(y)

In [106]:
print("Enter the number (integer) of each type of coins.")
q = int(input("Quarters: "))
d = int(input("Dimes: "))
n = int(input("Nickels: "))
p = int(input("Pennies: "))
total = q * 25 + d * 10 + n * 5 + p
print("Total: ${:.2f}".format(total/100))

Enter the number (integer) of each type of coins.

Quarters:  5
Dimes:  10
Nickels:  15
Pennies:  50

Total: $3.50

In [108]:
print("Total: ${:.1f}".format(total/100))

Total: $3.5