# String Basics, Indexing, and Slicing

### The Basics

- A `string` is a sequence of characters enclosed within a pair of double (" ") or single quotation marks (' ').

In [1]:
"Hello World"

'Hello World'

In [3]:
s = "Hello World"
s

'Hello World'

In [5]:
print(s)

Hello World

In [7]:
type(s)

str

In [9]:
s = ''  # An empty string
s

''

In [11]:
# Jack Sparrow
name = input("What's your name? ")  # Get a string from the user
name

What's your name?  Jack Sparrow

'Jack Sparrow'

In [13]:
print('Hi', name)

Hi Jack Sparrow

<img src="images/jack_sparrow.jpg" alt="Jack Sparrow" style="width: 100px;"/>

- Curved quotation marks won't work.

In [16]:
print(“Hello World”)

SyntaxError: invalid character '“' (U+201C) (813553534.py, line 1)

In [18]:
print(‘Hello World’)

SyntaxError: invalid character '‘' (U+2018) (2466263988.py, line 1)

- Using quotation marks inside quotation marks:

In [20]:
print("He said, 'You look young.'")  # Single inside double

He said, 'You look young.'

In [22]:
print('He said, "You look young."')  # Double inside single

He said, "You look young."

In [24]:
print("He said, \"You look young.\"")  # Escape the double quotes

He said, "You look young."

In [26]:
print("He said, "You look young." ")  # Escape the double quotes

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2073189040.py, line 1)

In [ ]:
print('He said, \'You look young.\'')  # Escape the single quotes

In [28]:
print ("""He said, "You look young." """)  # Use triple-quoted strings

He said, "You look young."

In [30]:
print ('''He said, 'You look young.' ''')  # Use triple-quoted strings

He said, 'You look young.'

### Indexing

- We can access individual characters through indexing.
- The index is numbered from left to right, starting with 0. It can also be number from right to left, starting with -1.

In [32]:
name

'Jack Sparrow'

<img src="images/index.png" alt="Indexing: Jack Sparrow" style="width: 300px;"/>

In [38]:
name[-2] # the letter o

'o'

In [40]:
name[0] # the letter J

'J'

In [42]:
print(name[0], name[3], name[-11])

J k a

### Slicing

- We can access a consecutive sequence of characters (i.e., a substring) through slicing.
```python
string[start:end]  # Both start and end must be integer```
- This statement produces a substring beginning at `start` and runs up to but doesn't include `end`.

In [44]:
name

'Jack Sparrow'

In [46]:
name[5:]

'Sparrow'

In [48]:
name[5:12]

'Sparrow'

In [50]:
name[0:5]

'Jack '

In [54]:
name[9:]

'row'

<img src="images/index.png" alt="Indexing: Jack Sparrow" style="width: 300px;"/>

In [56]:
name[-9:-6]

'k S'

In [58]:
name[-3:]

'row'

In [60]:
name[:-6]

'Jack S'

In [62]:
name[2:-6]

'ck S'

<img src="images/index.png" alt="Indexing: Jack Sparrow" style="width: 300px;"/>

In [64]:
name[9:5]

''

In [66]:
name[3:3]

''