# Lists

### The Basics

- A `list` is a sequence of arbitrary values enclosed with brackets.

In [1]:
x = [2.7, 'Hello World', -3]
x

[2.7, 'Hello World', -3]

In [3]:
type(x)

list

In [5]:
len(x)  # Length of the list

3

In [7]:
y = [3.4, "hello", 4, [-7, 'world']]  # Nested list
y

[3.4, 'hello', 4, [-7, 'world']]

In [9]:
len(y)

4

In [11]:
[-1, 2] + [2, 3.4]  # Concatenation

[-1, 2, 2, 3.4]

In [13]:
[-1, 2] * 3  # Repetition

[-1, 2, -1, 2, -1, 2]

In [15]:
y

[3.4, 'hello', 4, [-7, 'world']]

<img src="images/nested_list.png" alt="Indexing: Nested List" style="width: 250px;"/>

In [17]:
y[1]  # Indexing

'hello'

In [19]:
y[2]

4

In [29]:
y[3][0]

-7

In [33]:
z=y[3]
z[0]

-7

In [ ]:
y[3][0]

In [ ]:
y[3][0]

<img src="images/nested_list.png" alt="Indexing: Nested List" style="width: 250px;"/>

In [ ]:
y[3][1]  # Nested indexing

In [35]:
y[:3]  # Slicing

[3.4, 'hello', 4]

In [37]:
days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
days

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [39]:
days[3]

'Thu'

In [41]:
days[4-1]

'Thu'

In [ ]:
days[3]

In [47]:
x=[10,20,30,40] # using the element (value)
for element in x:
    print(element,end=' ')

10 20 30 40

In [53]:
for index in range(0,4,1):
    print('x[',index,']=',x[index])

x[ 0 ]= 10
x[ 1 ]= 20
x[ 2 ]= 30
x[ 3 ]= 40

In [55]:
# using the index
for index in range(0,4,1):
    print("index",index,x[index])

index 0 10
index 1 20
index 2 30
index 3 40

In [ ]:
# using the index
for index in range(0,len(x),1):
    print("index",index,x[index])

In [59]:
x=[10,20,30,40] # for loop on the element
for element in x:
    print(element, end=" ")

10 20 30 40

In [61]:
x=[10,20,30,40] # for loop on the index
for i in range(len(x)):
    print(x[i],end=", ")

10, 20, 30, 40,

In [63]:
# using the index
for i in range(len(days)):
    print(days[i], end=', ')

Mon, Tue, Wed, Thu, Fri, Sat, Sun,

In [65]:
days = ["Sun","Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]

In [67]:
for i, day in enumerate(days):  # Returns both the index and the value of each element
    print('Day', i+1, 'is', day)

Day 1 is Sun
Day 2 is Mon
Day 3 is Tue
Day 4 is Wed
Day 5 is Thu
Day 6 is Fri
Day 7 is Sat

In [71]:
x=[1,-5,3,4,10]
y=sorted(x, reverse=False) # Sorting in a reverse form
y

[-5, 1, 3, 4, 10]

- Two or more sequences can be paired with the zip() function.

In [73]:
questions = ['One', 'Two', 'Three']
points = ['10', '15', '20']
for q,p in zip(questions, points):
    print('Question', q, 'is worth', p, 'points.')

Question One is worth 10 points.
Question Two is worth 15 points.
Question Three is worth 20 points.

In [75]:
days

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [77]:
'Mon' in days  # Whether a given element is contained in a list

True

In [79]:
'mon' in days

False

In [81]:
5 in [2, 4, 6, 8]

False

In [83]:
5 in [5, 4, 6, 8]

True

In [85]:
s = 'Mon Tue Wed Thu Fri Sat Sun'
s.split()  # Split a string into substrings based on spaces

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [87]:
'10, 5, 3.14, -12'.split(', ')

['10', '5', '3.14', '-12']

### Lists Are Mutable

In [91]:
y = [2, 3]
y[0] = 10
print(y)

[10, 3]

In [93]:
y = ['a', 'b', 'c', 'd']
del y[1]
y

['a', 'c', 'd']

In [95]:
y = []  # An empty list
y

[]

In [97]:
y.append('this')
y

['this']

In [99]:
y.append('is')
y

['this', 'is']

In [103]:
y.insert(2, 'John')
y

['this', 'is', 'John']

In [105]:
y.sort()
y

['John', 'is', 'this']

In [107]:
x=[1,2,8,3,7]
x.sort()
x

[1, 2, 3, 7, 8]

What is the difference between sorted(x) and x.sort()

In [109]:
y=[1,2,8,3,7]

In [111]:
sorted(y)

[1, 2, 3, 7, 8]

In [113]:
x

[1, 2, 3, 7, 8]

In [115]:
x.count(7)

1

In [117]:
x.count(5)

0

In [119]:
y=['this','is','John']
y.remove('this')
y

['is', 'John']

In [121]:
y.reverse()
y

['John', 'is']

### List Comprehensions

- List comprehensions use the `for` keyword to create lists in a natural way like they are defined in mathematics:
$$ A = \{n^2 : n\ is\ interger; and\ 0 \leq n \leq 5\}$$

In [123]:
A=[] # standard/normal way
for n in range(0,6,1):
    A.append(n**2)
A

[0, 1, 4, 9, 16, 25]

In [ ]:
[n**2 for n in [0,1,2,3,4,5]] #List Comprehension

In [125]:
A=[0,1,2,3,4,5]
[n**2 for n in A] #List Comprehension

[0, 1, 4, 9, 16, 25]

- A list comprehension consists of brackets containing an expression followed by a `for` clause, then zero or more `for` or `if` clauses. The result will be a new list.

In [127]:
A = [n**2 for n in range(6)]
A

[0, 1, 4, 9, 16, 25]

$$ B = \{3\cdot2^n-1: n\ is\ integer; and\ 0 \leq n \leq 5\}$$

In [129]:
B = [3*2**n-1 for n in range(6)]
B

[2, 5, 11, 23, 47, 95]

In [131]:
A

[0, 1, 4, 9, 16, 25]

$$ C = \{m : m\ in\ A; and\ m\ is\ even\}$$

In [133]:
C = [m for m in A if m % 2 == 0]
C

[0, 4, 16]

$$ D = \{ |x| : x \in \{-2, -1, 0, 3\}$$

In [135]:
D = [abs(x) for x in [-2, -1, 0, 3]]  # Apply a function to all the elements
D

[2, 1, 0, 3]

In [137]:
fruits = ['   apple', '  banana  ', 'grape   ']
[fruit_i.strip() for fruit_i in fruits]  # Call a method on each element

['apple', 'banana', 'grape']

$$ z = \{ (x,y) : x \in \{1, 2, 3\}, y \in \{2, 3, 4\}; and\ x \neq y\}$$

In [139]:
z = []
for x in [1, 2, 3]:
    for y in [2, 3, 4]:
        if x != y:
            z.append((x, y))
z

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 2), (3, 4)]

In [141]:
[(x, y) for x in [1, 2, 3] for y in [2, 3, 4] if x != y]

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 2), (3, 4)]

## In Class Exercises

**Problem 1:**
* -- If company x has a list of department chairs as follow:
* -- chair_names=[Madison, John, Murrad, Anderow]
* -- Department list=[Purchase, Expendtures, Data center, management]
* --- 1) Use Python for loop to print out each list
* --- 2) Use Python for loop to print out the Chair of Department x is y (use zip function)

- Problem 1 solution

In [155]:
chair_names = ['Madison','John','Murrad','Anderow']
dept_list = ['Purchase','Expenditure','Data Center','Management']

for c in chair_names:
    print(c,end=' ')
print()
for d in dept_list:
    print(d,end=' ')
print()
for c,d in zip(chair_names,dept_list):
    print(f"The chair of {d} is {c}")

Madison John Murrad Anderow
Purchase Expenditure Data Center Management
The chair of Purchase is Madison
The chair of Expenditure is John
The chair of Data Center is Murrad
The chair of Management is Anderow

In [ ]:
chair_names = ["Madison", "John", "Murrad", "Anderow"]
department_list = ["Purchase", "Expenditures", "Data center", "management"]

for c in chair_names:
    print(c, end = ", ")

In [ ]:
for d in department_list:
    print(d, end = ", ")

In [ ]:
for c,d in zip(chair_names, department_list):
    print(c, "is the Chair of", d)

**Problem 2:**
-- If x is a list of 1 to 100, find the following:
* --- Use for loop to print out all numbers in one line with comma separater
* --- Use for loop to print out the even numbers in one line with comma separater
* --- Use for loop to print out the odd numbers in one line with comma separater
* --- Use for loop to print out divisiable numbers by 5
* --- Use for loop to print out squared numbers 1,4,9,..., 100

- Problem 2 solution

In [ ]:
x=list(range(1,101))
print("All numbers from 1 to 100:")
for i in x:
    if i == 100:
        print(i)
    else:
        print(i, end=",")

In [ ]:
print("All even numbers from 1 to 100:")
for i in x:
    if i % 2== 0:
        if i == 100:
            print(i)
        else:
            print(i, end=",")

In [ ]:
print("All odd numbers:")
for i in x:
    if i % 2!= 0:
        if i == 99:
            print(i)
        else:
            print(i, end=",")

In [ ]:
print("All numbers divisible by 5:")
for i in x:
    if i % 5 ==0:
        if i ==100:
            print(i)
        else:
            print(i, end=",")

In [ ]:
print("All squared numbers:")
for i in range(1,11):
    square = i**2
    if square == 100:
        print(square)
    else:
        print(square, end=",")

In [159]:
x = list(range(1, 101))

In [161]:
print("All numbers:", end=" ")
for number in x:
    print(number, end="," if number < 100 else "\n")

All numbers: 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100

In [163]:
for i in x:
    if i %2 ==0:
        print(i, end=',' if i < 100 else'')

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100

In [165]:
for i in x:
    if i %2 !=0:
        print(i, end=',' if i < 100 else'')

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [167]:
for i in x:
    if i %5 ==0:
        print(i, end=',' if i < 100 else'')

5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100

In [171]:
squares = [str(num**2) for num in range (1,11)]
print (", ".join(squares))

1, 4, 9, 16, 25, 36, 49, 64, 81, 100