# Tuples

### The Basics

- Tuples are very similar to lists. Lists are enclosed in "[ ]" and tuples in parentheses "( )".

In [ ]:
x = (2.7, 'Hello World', -3)
x

In [ ]:
type(x)

In [ ]:
len(x)  # Length of the tuple

In [ ]:
type(x)

In [ ]:
y = (3.4, "hello", 4, (-7, 'world'))  # Nested tuple
y

In [ ]:
len(y)

In [ ]:
(-1, 2) + (2, 3.4)  # Concatenation

In [ ]:
(-1, 2) * 3  # Repetition

- Indexing and slicing of tuples are similar to strings and lists.

In [ ]:
y

In [ ]:
y[1]  # Indexing

In [ ]:
y[3]

In [ ]:
y[3][0]  # Nested indexing

In [ ]:
y[1:3]  # Slicing

In [ ]:
days = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
days

In [ ]:
days[3]  # Convert an int day into the three-letter abbreviation

In [ ]:
for d in days:
    print(d)

In [ ]:
for i, d in enumerate(days):  # enumerate returns both the index and the value of each element
    print('Day', i+1, 'is', d)

In [ ]:
days

In [ ]:
'Mon' in days  # Whether a given element is contained in a tuple

In [ ]:
'mon' in days

In [ ]:
5 in (2, 4, 6, 8)

In [ ]:
z = ["cheese", ("red", "rojo"), [3, 5]]  # Outermost symbols are brackets
z

In [ ]:
type(z)

In [ ]:
z = ("cheese", ("red", "rojo"), [3, 5])  # Outermost symbols are curly braces
z

In [ ]:
type(z)

In [ ]:
type(z[2])

- It is possible to drop the parentheses when creating a tuple, and only use a sequence of values separated by commas:

In [ ]:
x = 1, 3, 5
x

- Include a comma when creating a tuple with only one element:

In [ ]:
x = 2,
x

In [ ]:
x = (2,)
x

In [ ]:
type(x)

In [ ]:
x = 2  # Not a tuple
x

In [ ]:
x = (2)
x

In [ ]:
type(x)

In [ ]:
x = ()  # Empty tuple
x

In [ ]:
type(x)

In [ ]:
x = ( ,)  # This is wrong

### Tuples Are Immutable

In [ ]:
y = (2, 3)
y

In [ ]:
y[0] = 1

- Python uses tuples for simultaneous assignment and unpacking multiple returns from functions.

In [ ]:
x, y = 1, 2
y, x

In [ ]:
mm, dd, yyyy = '05/20/2019'.split('/')  # mm/dd/yyyy
mm, dd, yyyy

- Difference between list and tuple!

In [ ]:
x=[1,2,3]
x[0]=-1
print('x= ',x)

In [ ]:
y=(1,2,3)
print('y=',y)
y[0]=-1