# Sets

### The Basics

- Sets hold unordered collections of unique elements.
- Sets are indicated with curly braces. They contain elements instead of key: value pairs.

In [3]:
d = {'apples':33, 'bananas':47, 'oranges':27}
type(d)

dict

In [5]:
s = {'apples', 'bananas', 3.14, -5}
type(s)

set

In [7]:
3 in s

False

In [9]:
'apples' in s

True

In [11]:
x=[1, 2, 1, 3, 4, 4]
print(type(x))
print(x)

<class 'list'>
[1, 2, 1, 3, 4, 4]

In [13]:
s = set(x)
s

{1, 2, 3, 4}

In [ ]:
len(s)

- Sets do not support indexing, slicing, or other sequence-like behavior.

In [15]:
s

{1, 2, 3, 4}

In [17]:
s[2]

TypeError: 'set' object is not subscriptable

In [ ]:
s(2)

### Sets Are Mutable

In [19]:
s = {}  # Create an empty dictionary, not a set
s

{}

In [21]:
type(s)

dict

In [23]:
s = set()  # An empty set
s

set()

In [25]:
type(s)

set

In [27]:
s.add(4)
s

{4}

In [29]:
s = set((1, 2, 3)) # Create a set from a list or tuple
s

{1, 2, 3}

In [31]:
s.add('Hello World')
s

{1, 2, 3, 'Hello World'}

### Set Operations

In [33]:
s1 = {1, 2, 3}
s2 = {1, 3, 4}
s1 | s2  # Set union

{1, 2, 3, 4}

<img src="images/union.png" alt="Set Union" style="width: 200px;"/> <img src="images/vertical_line.png" alt="Vertical Line" style="width: 200px;"/>

In [35]:
s1 = {1, 2, 3}
s2 = {1, 3, 4}
s1 & s2  # Set intersection

{1, 3}

<img src="images/intersection.png" alt="Set Intersection" style="width: 200px;"/>

In [37]:
s1 = {1, 2, 3}
s2 = {1, 3, 4}
s1 - s2  # Set difference

{2}

<img src="images/difference.png" alt="Set Difference" style="width: 200px;"/>

In [39]:
s1 = {1, 2, 3}
s2 = {1, 3, 4}
s1 ^ s2  # Symmetric difference

{2, 4}

<img src="images/symmetric_difference.png" alt="Set Symmetric Difference" style="width: 200px;"/>

In [41]:
s1 = {1, 2, 3}
s2 = {1, 3, 4}
s1 <= s2  # Subsets: s1 ⊆ s2?

False

In [43]:
s1 = {1, 2, 3}
s3 = {1, 2}
s1 > s3   # s1 ⊃ s3?

True

### Example: Employees

In [47]:
engineers = {'Jane', 'Jack', 'Julie'}
programmers = {'Jack', 'Sam', 'Susan'}
managers = {'Jane', 'Susan', 'Zack'}

In [49]:
allemployees = engineers | programmers | managers
allemployees

{'Jack', 'Jane', 'Julie', 'Sam', 'Susan', 'Zack'}

In [51]:
eng_management = engineers & managers
eng_management

{'Jane'}

In [53]:
fulltime_management = managers - engineers - programmers
fulltime_management

{'Zack'}

In [55]:
engineers.add('Mark')  #Mark joins
engineers

{'Jack', 'Jane', 'Julie', 'Mark'}

In [57]:
allemployees

{'Jack', 'Jane', 'Julie', 'Sam', 'Susan', 'Zack'}

In [59]:
allemployees.add('Mark')
allemployees

{'Jack', 'Jane', 'Julie', 'Mark', 'Sam', 'Susan', 'Zack'}

In [61]:
for group in [engineers, programmers, managers, allemployees]:
    group.discard('Susan')   #Susan leaves
    print(group)

{'Jane', 'Jack', 'Julie', 'Mark'}
{'Jack', 'Sam'}
{'Jane', 'Zack'}
{'Jane', 'Zack', 'Mark', 'Jack', 'Sam', 'Julie'}

### Excercises
https://chatgpt.com/share/66ec5c00-27b0-8000-9d12-ac1d956392ad